@import "variables";
@import "mixins";


@import "normalize";
// @import "icons";


/* MAIN BODY
=================================================================== */
body
{
  font-family: 'Open Sans', Arial, Verdana, sans-serif;
  font-size:16px;
  color:$txtcolor;
  font-weight:400;
  background-color:$bgcolor;
  // height:100%;
  line-height:1.5;
}



/* FONT-FAMILY
=================================================================== */
div.product .formation-description h2,
{
  font-family: 'Oswald',Arial,Verdana, sans-serif;
  font-weight:300;
}
.features .feature h3.feature-title,
{
  font-family: 'Crimson Text', Arial,Verdana, sans-serif;
  font-weight:400;
  font-style: italic;
}

/* FONT-SIZES
=================================================================== */
  /* 0.8125rem = 13px */
  .fwrap,
  {
    @include rem-fallback(font-size,0.8125);
  }
  /* 1rem = 16px */
  h4,
  {
    @include rem-fallback(font-size,1);
  }
  /* 1.25rem = 20px */
  h3,
  {
    @include rem-fallback(font-size,1.25);
    line-height: 1;
  }
  /*  1.875rem = 30px */
  #menu-principal > li ul a:after,
  {
    @include rem-fallback(font-size,1.875);
    line-height: 1;
  }
  /*  2.5rem = 40px */
  h1 
  {
     @include rem-fallback(font-size,2.5);
  }

// @include rem-fallback(attribut,grosseur);


/* COLORS
=================================================================== */
  /* MAIN TEXT COLOR
  =================================================================== */

  /* ALT TEXT COLOR
  =================================================================== */

  /* BGCOLOR
  =================================================================== */
  footer,
  footer a,
  {
    color:$txtcolor_lighter;
  }


/* BACKGROUND-COLORS
=================================================================== */
  /* MAIN BACKGROUND COLOR
  =================================================================== */
  /* FOOTBG
  =================================================================== */
  .fwrap,
  {
    background-color: $footbg;
  }


/* BACKGROUND RESETS
=================================================================== */
// .site-title a,
// .site-title
// {
//  background-repeat:no-repeat;
//  background-position:0 0;
// }



/* FLOAT
=================================================================== */
  /* LEFT
  =================================================================== */
  .fleft,
  %fleft
  {
    float:left;
  }
  /* RIGHT
  =================================================================== */
  .fright,
  %fright
  {
    float:right;
  }
  /* NONE
  =================================================================== */
  .fnone,
  %fnone
  {
    float:none;
  }



/* CLEAR
=================================================================== */
  /* CLEARFIX
  =================================================================== */
  %clearfixe
  {
    zoom: 1;
    &:before, &:after { content: ""; display: table; }
    &:after { clear: both; }
  }
  .clearfix,.group {
    @extend %clearfixe;
  }
  /* NONE
  =================================================================== */
  /* BOTH
  =================================================================== */
  .clear-all,
  %clear-all
  {
    clear:both;
  }
  /* LEFT
  =================================================================== */
  .clear-left,
  %clear-left,
  {
    clear:left;
  }
  /* RIGHT
  =================================================================== */
  .clear-right,
  %clear-right
  {
    clear:right;
  }



/* DISPLAY
=================================================================== */
  /* NONE
  =================================================================== */
  .hide-content,
  hr,
  {
    display:none
  }
  %display-none-imp,
  .display-none-imp,
  {
    display:none !important
  }

  /* INLINE-BLOCK
  =================================================================== */
  %inline_block
  {
    display: inline-block !important;
    vertical-align:middle;
    
    .lt-ie8 &
    {
      zoom:1;
      *display:inline;
    }
  }
  .inline-block,
  // #primary-nav li a
  {
    @extend %inline_block;
  }
  .i-block
  {
    display:inline-block;
  }
  /* BLOCK
  =================================================================== */
  %display-block,
  .display-block
  {
    display:block;
  }
  /* TABLE
  =================================================================== */
  .is-table,
  %is-table,
  {
    display:table;
  }
  /* TABLE-CELL
  =================================================================== */
  .is-table-cell,
  %is-table-cell,
  {
    display:table-cell;
  }
  /* TABLE ROW
  =================================================================== */
  .is-table-row,
  %is-table-row,
  {
    display:table-row;
  }



/* POSITION
=================================================================== */
  /* RELATIVE
  =================================================================== */
  .is-relative,
  %is-relative
  {
    position:relative;
  }
  /* ABSOLUTE
  =================================================================== */
  .is-absolute,
  %is-absolute
  {
    position:absolute;
  }
  /* FIXED
  =================================================================== */
  .is-fixed,
  %is-fixed
  {
    position:fixed
  }



/* TEXT-ALIGN
=================================================================== */
  /* CENTER
  =================================================================== */
  .align-center,
  %align-center,
  // #primary-navigation li
  {
    text-align:center;
  }
  /* RIGHT
  =================================================================== */
  .align-right,
  %align-right
  {
    text-align:right;
  }
  /* LEFT
  =================================================================== */
  .align-left,
  %align-left
  {
    text-align:left;
  }



/* TEXT-DECORATION
=================================================================== */
  /* NONE
  =================================================================== */
  footer a,
  {
    text-decoration: none;
  }

  /* UNDERLINE
  =================================================================== */
  footer a:hover,
  {
    text-decoration: underline;
  }




/* FONT-WEIGHT
=================================================================== */
  /* NORMAL
  =================================================================== */



/* TEXT-TRANSFORM
=================================================================== */
  /* UPPERCASE
  =================================================================== */
  #menu-principal li a,
  {
    text-transform: uppercase;
  }

  /* NONE
  =================================================================== */
  #menu-principal > li .mega-menu__extra-content .mega-menu__extra-content-title,
  {
    text-transform: none;
  }

/* CURSOR
=================================================================== */
  /* POINTER
  =================================================================== */
  .promo__item .bouton,
  {
    cursor:pointer;
  }


/* OTHERS
=================================================================== */
  /* EXTENDS!
  =================================================================== */
  %hide-text,
  .hide-text
  {
    text-indent: 100%;
    white-space: nowrap;
    overflow: hidden;
  }


  /* CHROME FRAME
  =================================================================== */
  .chromeframe
  {
    background-color:lighten(yellow,5%);
    margin:0;
    padding:1em;
  }

  /* HEIGHT 100%
  =================================================================== */
  %height-full,
  .height-full
  {
    height:100%;
  }
  /* MIN-HEIGHT 100%
  =================================================================== */
  %minheight-full,
  .minheight-full
  {
    min-height:100%;
  }

  /* RESET PADDINGS + MARGINS
  =================================================================== */
  %reset-pm
  {
    margin:0;
    padding:0;
  }
  .reset-pm
  {
    @extend %reset-pm;
  }

  /* RESET UL + OL
  =================================================================== */
  %reset-ul-ol
  {
    margin:0;
    padding:0;

    list-style:none;
  }
  .reset-ul-ol,
  .reset-ul-ol li,
  {
    @extend %reset-ul-ol;
  }
  .reset-ul-ol li:before
  {
    content:none !important;
  }

  /* RESET BUTTON
  =================================================================== */
  %reset-button,
  .reset-button,
  {
    padding:0;
    margin:0;
    outline:0;
    border:none;
    background:none;
    text-shadow: none;
  }


	/* MAX-WIDTH
  =================================================================== */
	%max-width,
	.max-width,
	{
		max-width:960px;
		width:100%;
		margin:0 auto;
	}


  /* FULL-WIDTH
  =================================================================== */
  .full-width,
  %full-width
  {
    width:100%;
  }

  .wide-panel,
  %wide-panel,
  {
    margin:0 -100%;
    padding-left:100%;
    padding-right:100%;

  }




iframe[src="about:blank"]{display:none;}



div.entry-content
{
  @include rem-fallback(line-height, 1.5);
  // line-height:1.25rem;

  /* HEADINGS
  =================================================================== */
  h1,h2,h3,h4
  {
    @extend %reset-pm;
    // line-height:1.25;

    b,strong
    {
      font-weight:700;
    }
  }

  h2
  {
    @include rem-fallback(margin,1.5,0)
  }

  h3
  {
    margin:1em 0 -0.5em 0;
  }

  h4
  {
    // margin-bottom:-1em;
    line-height:1.25;
    @include rem-fallback(margin-bottom,-0.625)
  }
  
  /* LISTS
  =================================================================== */
  ul,ol
  {
    @extend %reset-pm;
    list-style:none;

    margin:-0.5em 0 -0.5em 1.75em;

    li
    {
      position:relative;
      list-style:none;
      padding-left:1.5em;

      // margin:0.5em 0;

      // line-height:1.35em;
    }
  }

  h1 + ul, h2 + ul, h3 + ul, h4 + ul,
  h1 + ol, h2 + ol, h3 + ol, h4 + ol
  {
    @include rem-fallback(margin-top,0.5);
  }


  ul li
  {
    &:before
    {
      // @include inline_block;
      border-radius: 100%;

      content:"";
      left:0;
      top:0.8125em;
      line-height:1;
      position:absolute;
      height:0.325em;
      width:0.325em;
    }
  }

  ol li
  {
    counter-increment: index;

    &:before
    {
      position:absolute;
      left:-0.25em;
      top:0;
      content:counter(index)".";
    }
  }

  /* BLOCKQUOTE
  =================================================================== */
  blockquote
  {
    @extend %reset-pm;

    padding:0 1.875em;
    margin:1em 0;
    border-top:1px solid $txtcolor;
    border-bottom:1px solid $txtcolor;
  }

  /* IMAGES
  =================================================================== */
  img
  {
    // display:block;
    &.alignleft{
      float:left;
      margin-right:1.25em;
    }
    &.alignright{
      float:right;
      margin-left:1.25em;
    }
  }

  /* TABLES
  =================================================================== */
  table
  {
    width:100%;
    table-layout: fixed;
    border:1px solid $bgcolor;
    @include rem-fallback(border-radius,1);
    overflow:hidden;

    th,td
    {
      padding:0.5em 1em;
      border:1px solid $bgcolor;
    }

    thead th
    {
      padding:0.75em 1em;
    }

    tbody
    {
      tr
      {
        td
        {
          background-color:$bgcolor;
        }
        th:first-child,
        td:first-child
        {
          // background-color:mix($orange,$bgcolor,20%);
        }
      }
      tr:nth-child(even){
        td
        {
          // background-color:$bgcolor_alt;
        }
        th:first-child,
        td:first-child
        {
          // background-color:mix($orange,$bgcolor,35%);
        }
      }
    }


  }

  /* CHILDREN
  =================================================================== */
  & > *:first-child
  {
    margin-top:0;
  }

  & > *:last-child,
  & > *:last-child > *:last-child,
  & > *:last-child > *:last-child > *:last-child,
  & > *:last-child > *:last-child > *:last-child > *:last-child,
  & > *:last-child > *:last-child > *:last-child > *:last-child > *:last-child
  {
    margin-bottom: 0;
  }

}

a:focus {
    outline: 0;
}


