@import 'common';


html,body
{
  @extend %height-full;
}

body
{
	@extend %is-table;
  @extend %full-width;
}


.hwrap
{
	.home &
	{
		box-shadow:none !important;
	}

	@media screen and (min-width:48em)
	{
		box-shadow:0 6px 0 0 $altcolor;
	}

	.logo
	{
		@include rem-fallback(margin-bottom,-2.0);
		margin-top:-34px;
		left:-50px;

		a
		{
			max-width: 87.5%;
		}

		img
		{
			width:100%;
			height:auto;
		}

		@media screen and (min-width: 48em){

			a
			{
				max-width:none;
			}
		}
	}

	.navigation
	{
		@extend %clear-all;
		box-shadow:0 6px 0 0 $altcolor_dark;


		.container
		{
			@include rem-fallback(padding,1,1,1,1);

			label
			{
				@extend %is-relative;
				z-index: 40;
				text-shadow: 0px -1px 0px rgba(0,0,0,0.2);
				cursor:pointer;
				font-size:200%;
			}
		}

		.main-menu
		{
			display:none;
			letter-spacing: -1px;
			li
			{

				a
				{
					text-shadow: -3px -1px 1px rgba(0,0,0,0.2);
				}
			}
		}

		input[type=checkbox]
		{
			display:none;
		}
		input[type=checkbox]:checked + .main-menu
		{
			display:block;
		}

		

		@media screen and (min-width:48em)
		{
			// right:0;
			// padding-top:0;
			background-color:transparent;
			box-shadow:none;
			padding:0;
			margin:0;

			float:right;
			clear:none;

			.container
			{
				padding-top:0;
				padding-bottom:0;
			}

			.main-menu
			{
				display:block;
				li
				{
					@include menu-row;
					// @include menu-row($margin:0.625rem);
					border-right:0;
				}
			}

		}
	}
}


.cwrap
{
	@include rem-fallback(padding-top,2);

	@extend %hide-mobile;

}


.fwrap
{
	@extend %is-table-row;
  height:1px;

	footer
	{
		@include rem-fallback(padding,1.25,1);		
	}

	ul,li
	{
		@extend %reset-ul-ol;
	}

	p
	{
		margin-bottom:0;
	}

	@media screen and (min-width: 48em){
		ul
		{
			li
			{
				@include menu-row();
			}
			float:right;

		}
		p
		{
			// @extend .fleft;
			float:left;
			margin-top:0;
		}
	}
}
