@import 'common';


html,body
{
  @extend %height-full;
}

body
{
	@extend %is-table;
  @extend %full-width;
}


.hwrap
{
	.logo
	{
		@include rem-fallback(margin-bottom,-2.0);
		margin-top:-34px;
		left:-50px;

		a
		{
			max-width: 87.5%;
		}

		img
		{
			width:100%;
			height:auto;
		}

		@media screen and (min-width: 48em){
			a
			{
				max-width:none;
			}
		}
	}

	.navigation
	{
		@include rem-fallback(padding,1,0,1,0);
		box-shadow:0 6px 0 0 $altcolor_dark;

		.home &
		{
			box-shadow:none;
		}

		@media screen and (min-width:34.375em)
		{
			// right:0;
			// padding-top:0;
			// background-color:transparent;
			// box-shadow:none;
		}
	}
}


.cwrap
{
	@include rem-fallback(padding-top,2);

	@extend %hide-mobile;

}


.fwrap
{
	@extend %is-table-row;
  height:1px;

	footer
	{
		@include rem-fallback(padding,1.25,1);		
	}

	ul,li
	{
		@extend %reset-ul-ol;
	}

	p
	{
		margin-bottom:0;
	}

	@media screen and (min-width: 48em){
		ul
		{
			li
			{
				@include menu-row();
			}
			float:right;

		}
		p
		{
			// @extend .fleft;
			float:left;
			margin-top:0;
		}
	}
}
